header {
  margin: 0 auto;
  text-align: center;
  padding-top: 300px;
}

header h1 {
  margin: 0;
  font-size: 4rem;
  color: black;
}

header p {
  font-weight: 700;
}

.h3,
h3 {
  font-size: 1.7rem;
}
